body {
    background-color: black;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.style {
  width:100%; height:99vh;
  text-align:center;
  padding-top:calc(50vh - 50px);
  margin-left:0vw;
  background-image: url("https://images.unsplash.com/photo-1471479917193-f00955256257?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=277e06c05754d2c22a90ea8c242a82df&auto=format&fit=crop&w=2048&q=80");
  background-position: center;
  background-position-y: 10%;
  border-bottom: solid;
  border-color: black;
  border-width: 18px;
  
.style p {
  color: #fff;
  font-size: 100px;
}

.heading {
    font-size: 100%;
    font-family: 'Forum', cursive;
    color: white;
}

.h2, h2 {
    font-size: 50%;

}
